<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite For eBay Sign In Test">
  <test name="Test For eBay HomePage Test">
    <classes>
      <class name="Test.eBaySignInTest"/>
      <class name="Test.eBayHomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
